@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800);

body {
	font-family: 'Open Sans', sans-serif;
}

#page {
	@include grid-row();
	margin-left: 0;
}

#secondary {
	background-color: #eee;
	text-align: center;
	@include grid-column(12);
	
	@media #{$small} {
		text-align: left;
		position: fixed;
		left: 0;
		top: 0;
		overflow-y: hidden;
		width: 260px;
		height: 110%;
		padding: 40px 40px 0;

		-moz-transform: rotate(1deg);
		-webkit-transform: rotate(1deg);
		-o-transform: rotate(1deg);
		-ms-transform: rotate(1deg);
		transform: rotate(1deg);

		margin-top: -10px;
		margin-left: -10px;
	}

	#logo {
		max-width: 120px;
		margin: 40px 0 0 40px;
		@media #{$small} {
			margin: 0;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 40px 0;
		width: 100%;

		li {
			margin: 0;
			padding: 5px 0;
			text-align: center;
			@media #{$small} {
				text-align: left;
			}
		}
	}

	a {
		color: #de6246;

		&:hover {
			color: lighten(#de6246, 10%);
		}
	}
}

#primary {
	@include grid-column(12);
	margin-left: 0;
	margin-top: 20px;

	@media #{$small} {
		@include grid-column(8);
		margin-top: 40px;
		margin-left: 280px;
	}
	header {

		div.entry-meta {
			font-size: 90%;
			margin: -0.7em 0 1.7em 0;
			line-height: 1;
			font-weight: 600;
			color: lighten(#222, 25%);
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

	}

	h1, h2, h3, h4 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
	}

	a {
		color: #de6246;

		&:hover {
			color: lighten(#de6246, 10%);
		}
	}

	.post {
		margin-bottom: 4em;
	}
}

pre.prettyprint {
	border: 1px solid #ddd;
	padding: 1em;
	margin-bottom: 1.5em;
	font-size: 110%;
}

.orbit-bullets li {
	width: 15px;
	height: 15px;
	background: #ddd;
	border: none;
	cursor: pointer;
}